/* your code */
table{
	border-collapse:collapse;
	border:1px solid #b6c5d3;
	border-radius:10px;
	width:100%;
	overflow:hidden;
}
th,td{
	border:2px solid #b6c5d3;
	padding:8px;
	text-align:left;
}
th{
	background-color:darkblue;
	color:white;
}
tr:nth-child(even){
	background-color:lightgray;
}
